/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*
body{
    
    background-image: linear-gradient(to right, #4682b4, #40e0d0, #008080);
    font-family:'Playfair Display', serif;
}*/

:root{
    background-color: #acf5ff;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}